.post h1 {
  @apply text-3xl;
  @apply font-normal;
}

.post h2 {
  @apply text-2xl;
  @apply pt-10;
  @apply pb-6;
}

.post p {
  @apply text-lg;
  @apply font-normal;
}
.post li { 
  @apply text-lg;
  @apply pb-6;
  @apply font-normal;
}

.post code {
  background: #f3f3f3;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
